/.CFUserTextEncoding
/.DS_Store
/.Trash
/.copilot
/.gitconfig
/.junie
/.lesshst
/.npm
/.vscode
/.vscode-shared
/.zsh_history
/.zsh_sessions
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/My favorite things
/OneDrive - MNSCU
/Pictures
/Public
/WebstormProjects
/favorite things
/tokko
/untitled folderfavorite